---
import ContentCard from './ContentCard.astro'
import { Card as ShadcnCard } from './ui/card'
import { SquareArrowOutUpRight } from 'lucide-react'

interface Props {
  title?: string
  body?: string
  colSpan?: string
  rowSpan?: string
  href?: string
  colorText?: string
}

const { title, body, colSpan, rowSpan, href, colorText } = Astro.props
---
<ShadcnCard
  className={`divc group relative col-span-1 h-auto w-full flex-none justify-start overflow-hidden transition ${colSpan || 'md:col-span-2'} ${rowSpan || ''} ${href ? 'cursor-pointer' : ''}`}
>
  {href ? (
    <a href={href} className={`${colSpan} ${rowSpan}`}>
      <ContentCard title={title} body={body}>
        <div class="moving-gradient-text"><slot /></div>
      </ContentCard>
    </a>
  ) : (
    <ContentCard title={title} body={body}>
      <div class="moving-gradient-text"><slot /></div>
    </ContentCard>
  )}
</ShadcnCard>

<style>
.divc {
  align-items: center;
  background-color: hsl(var(--card));
  border: 2px solid linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  overflow: hidden;
}

.divc .moving-gradient-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.divc span {
  transition: 300ms;
  font-size: 2rem;
  color: var(--hc);
}

.divc:hover {
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  transition: all .3s;
}

.divc:hover span {
  background: none;
}

.divc:active {
  transform: scale(0.9);
}

.divc:hover,
.divc:active {
  outline: 0;
  box-shadow: 0px 0px 100px 10px rgba(6, 56, 238, 0.547);
}

.moving-gradient-text {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #4adede);
  background-size: 600% 600%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient-animation 8s ease infinite;
  display: inline-block;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>